header.main-header {
  width: 100%;
  display: flex;
  padding: 10px 25px;
  box-shadow: 2px 6px 15px rgb(0, 0, 0);
  justify-content: space-between;
  background-color: red;
}

ul.navbar {
   list-style: none;
   display: flex;    
}
ul.navbar li {
   margin-right: 15px;  
}

.img-header{
  width: 110px;
}